html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
}

#map {
  width: 100%;
  height: 100%;
}

#probe {
  position: absolute;
  z-index: 500;
  background-color: rgba(255,255,255,.9);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
  display: none;
  padding: 10px 15px;
}

#probe img {
  border: 1px solid #999;
  width: 48px;
  margin-right: 10px;
}

#probe img, .country-name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.country-name {
  font-weight: bold;
}

#prompt {
  color: white;
  background-color: rgba(254,107,32,.8);
  position: absolute;
  top: 0;
  width: 300px;
  left: calc(50% - 150px);
  padding: 15px 20px;
  text-align: center;
  z-index: 500;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.leaflet-bar a, .reset, .leaflet-bar a:hover, .reset:hover {
  background-color: rgba(101,105,110, .9);
  color: white;
}

.leaflet-touch .leaflet-bar a, .reset {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.reset {
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-image: url(globe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
}

.leaflet-bar, .leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}